<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">
  <head>
    {% include header.html %}
  </head>
  <body>

    {% if site.design.main-menu %}
      {% include nav-primary.html %}
    {% endif %}

    <div class="doc-container">
      <div class="doc-row">
        <aside class="doc-sidebar doc-sidebar--sticky doc-text">
          <div class="doc-sidebar__wrap">
            {% include nav-secondary.html %}
          </div>
        </aside>
        <main class="doc-content doc-text">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </main>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
