<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">
  <head>
    {% include header.html %}
  </head>
  <body>

    {% if site.styleguide-main-menu %}
        {% include nav-primary.html %}
    {% endif %}

    <div class="doc-container doc-row">
      <div class="doc-sidebar doc-sidebar--fixed doc-text">
        <div class="doc-sidebar__wrap">
          {% include nav-secondary.html %}
        </div>
      </div>
      <main class="doc-content doc-text">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </main>
    </div>

    {% include footer.html %}
  </body>
</html>
